@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
    width: 50%;
    margin-left: 25%;
}
.detail-image{
    content: url();
}
.nav-active{
    text-decoration: underline;
}
.pagination{
    display: flex;
    justify-content: center;
}
.page-item{
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid rgb(198, 198, 198);
}
.page-item.active{
    background-color: #fbbf24;
}